{% extends 'tdolcrm/base3.html' %}
{% block title %} Customer list{% endblock %}

{% block content %}
<div class="container">
  <a href = "{% url 'customer' %}"button type="button" class="btn btn-primary btn-lg" id ="buttss">Add Customer</a>
  {%include 'tdolcrm/messages.html'%}
  <table class="table table-striped table-hover" id ="ContactTable">
      <thead class="table-dark">
        <tr>
          <th scope="col" id="colname"> ID</th>
          <th scope="col1" id="colname">Last Name</th>
          <th scope="col1" id="colname">First Name</th>
          <th scope="col1" id="colname">Email Address</th>
          <th scope="col1"id="colname">Company Name</th>
          <th scope="col1"id="colname">Birth Date</th>
      
        </tr>
      </thead>

      <tbody>
      {% if contacts %}
          {% for contact in contacts %}
          <tr>
             <td>{{contact.id}}</td>
              <td>{{contact.Last_Name}}</td>
              <td>{{contact.First_Name}}</td>
              <td>{{contact.Email_Address}}</td>
              <td>{{contact.Company_Name}}</td>
              <td>{{contact.Birthdate}}</td>
            
          </tr>
          
          {% endfor %}
      {% endif %}
      </tbody>
      </table>
      <style>
        .card{
          width:100%;
          right:-94px;
        }
      
        .col-8{
          left: -189px;
        }

        .table table-striped table-hover{
          width:125%; 
        }
        .table{
          width:152%;
        }
        #colname{
          font-weight: bold;
        }
        *{
          font-weight:lighter;
        }
        .nav-item{
          font-weight:bold;
        }
        #buttss{
          position:relative; 
          top: -130px; 
          right:-58rem; 
          width:161px; 
          background:green;  
        }
      </style>
      </div>


{% endblock %}